@charset "utf-8";
/* CSS Document */

@page{
		size: A4 portrait;
	}
	
	
a{
	text-decoration: none;
}

div.header_print p{
	display: none;
}

div p.header_title{
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	display: block;
}

.frame_print{
	margin:0 auto !important;
}

div.box_print{
  	margin: 10px 14px !important;
  	padding:8px 20px !important;
	position: relative !important;
	overflow: hidden !important;
	min-height:100px !important;
	height: auto !important;
	background-color: rgb(245,245,245) !important;
	border-radius: 3px !important;
}
div.box_print ul{
		max-width:400px !important;
	}

div.clear{
	clear: both;
}

p.box_time_print{
	font-size:15px !important;
	color:black !important;
}

.box_print > p:not(.box_time_print){
	margin-top: -35px !important;
	font-size:15px !important;
	color:black !important;
	width:auto !important;
	height:auto !important;
	text-align: right !important;
	word-wrap: break-word !important;
	-moz-hyphens: auto !important;
	-ms-hyphens: auto !important;
	-webkit-hyphens: auto !important;
	hyphens: auto !important;
}
.box_print > ul{
	float: right !important;
	margin-top: -6px !important;
}
.box_print > ul > li{
	width:auto !important;
	height:auto !important;
}

div.header_print{
	text-align: right !important;
}
div.footer_print{
	text-align: center !important;
	position: absolute !important;
	right: 50px !important;
	width:70px !important;
}
.footer_name_print{
	background: #111111 !important;
	color: white !important;
}
.footer_date_print{
	background: #111111 !important;
	color:white !important;
}

