@charset "utf-8";
/* CSS Document */

body,p,h3,div,a,ul,li,span{
	font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
	color:black;
}

p{
	font-size:14px ;
}

body{
	padding: 0 2rem;
	max-width: 1280px;
	margin:0 auto;
}

h3{
	margin:4rem 0 0 0;
}

ul{
	padding-left: 1.1rem;
	margin-left: 0;
	font-size: 14px;
}
li{
	display: list-item;
	font-size: 14px;
}